.card-container {
    width: 19%;
    height:100vh;
    background-color: #EFF1F3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    margin: 0 0.5%;
    vertical-align: top;

    .heading {
        clear: both;

        p, span, div {
            display: inline-block;
        }

        .counter {
            background-color: #ccc;
            border-radius: 100%;
            box-sizing: border-box;
            padding: 6px;
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: top;
        }

        .title {
            vertical-align: middle;
            margin: 0 10px;

        }

        .more-info-container {
            float: right;

            span {
                margin: 0 5px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .card-holder {
        overflow-y: scroll;
        height: 100%;
        
        .card {
            background-color: #fff;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 10px;
            margin: 5px 0;
    
            .card-heading {
                width: 100%;
    
                span, h2 {
                    display: inline-block;
                }
    
                h2 {
                    color: blue;
                    font-size: 18px;
                    margin: 0 10px;
                    a {
                        text-decoration: none;
                    }
                }

                .dotts-container {
                    position: relative;
                    .dotts {
                        width: 10px;
                        margin: 0;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .details {
                        display: block;
                        position: absolute;
                        width: 70px;
                        min-height: 100px;
                        left: -100px;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        z-index: 10;
                        top: 2px;

                        li {
                            list-style: none;
                            margin: 5px;

                            &:hover {
                                cursor: pointer;
                            }
                            
                            div {
                                &:hover {
                                    ul {
                                        display: block;
                                    }
                                }

                                ul {
                                    display: none;
                                    padding: 0;
                                    color: green;                           
                                }
                            }

                            a {
                                text-decoration: none;
                            }
                        }
                    }

                }
    
            }
    
            .card-body {
    
            }
        }
    }

}