.modal-window {
    padding: 10px;

    .modal-header {
        clear: both;
        text-align: center;

        span, h2 {
            display: inline-block;
        }

        .close-button {
            float: right;
            font-size: 25px;
            vertical-align: top;

            &:hover {
                cursor: pointer;
            }
        }
    }
    .modal-body {
        text-align: center;

        label {
            display: inline-block;
            margin-right: 10px;
        }

        input {
            padding: 5px;
        }

        .errors {
            border: 1px solid red;
        }
    }

    .modal-footer {
        button {
            width: 150px;
            display: block;
            margin: 20px auto;
        }
    }

}