
.card-container-holder {
    display: block;
}

.add-column {
    width: 200px;
    height: 100px;
    border: 1px dashed #000;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
}