.modal-window {
    width: 600px;
    height: 600px;
    background-color: #fff;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}